@model ProsjektStyring.Models.ProjectControllerModels.EditProjectCycleViewModel

@{
    ViewData["Title"] = "Endre syklus \"" + Model.cycleName + "\"";
}

<h4>Oppdater detaljer for syklus "@Model.cycleName"</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProjectCycle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="unique_CycleIdString" class="form-control" hidden/>
                <span asp-validation-for="unique_CycleIdString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cycleName" class="control-label"></label>
                <input asp-for="cycleName" class="form-control" />
                <span asp-validation-for="cycleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cycleDescription" class="control-label"></label>
                <textarea asp-for="cycleDescription" class="form-control"></textarea>
                <span asp-validation-for="cycleDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="cycleActive" /> @Html.DisplayNameFor(model => model.cycleActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="cycleFinished" /> @Html.DisplayNameFor(model => model.cycleFinished)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
